<template>
    <div class="card-body">
        <div>
            <table class="table" v-if="task">
                <thead>
                <tr>
                    <th>Start</th>
                    <th>Stop</th>
                    <th>Length</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(timer, timerIndex) in taskTimers">
                    <td>{{timer.start}}</td>
                    <td>{{timer.stop ? timer.stop : 'RUNING!'}}</td>
                    <td>{{ helpers.dateDiffToHoursMinutesSeconds(new Date(timer.stop) - new Date(timer.start)) }}</td>
                    <td><a @click="deleteTimer(timer, timerIndex)">
                        <icon name="trash"></icon>
                    </a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import helpers from '../../../helpers/date'

    export default {
        props: ['task'],
        computed: {
            helpers() {
                return helpers;
            },
            taskTimers() {
                return this.task ? this.task.task_timers : [];
            }
        },
        methods: {
            deleteTimer(taskTimer, taskTimerIndex) {
                axios.delete('/api/taskTimers/' + taskTimer.id).then(
                    this.$store.dispatch('fetchLists', true)
                );
                this.$store.commit('stopTimer', taskTimer.id);
                this.taskTimers.splice(taskTimerIndex, 1);
            }
        }
    }
</script>

<style>

</style>