@import "mixins";
@import "transitions";

a {
  cursor: pointer;
}

.draggable {
  min-height: 10px;
}

.task {
  display: block;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 2px 0;
  padding: 0.5em 0.5em 0.5em 1em;
  @include border-radius(5px);

  &.status-done {
    opacity: 0.8;
    background-color: rgba(127, 127, 127, 0.5);
  }
  .priority {
    cursor: pointer;
    height: 2.5em;
    width: 7px;
    position: absolute;
    left: 0;
    top: 0;
    @include border-radius(5px);
    &.priority-high {
      background-color: #fd7e14;
    }
    &.priority-medium {
      background-color: #005cbf;
    }
    &.priority-low {
      background-color: #aaa;
    }
  }
}

.list {
  margin: 15px 0;
  > div {
    background-color: #80bdff;
    padding: 5px;
    @include border-radius(10px);
    @include box_shadow(3);
    > .title {
      font-weight: bold;
      text-align: center;
      font-size: 1.1em;
    }
  }
}

.board {
  margin: 15px 0;
  > div {
    cursor: pointer;
    background-color: #80bdff;
    text-align: center;
    min-height: 100px;
    padding: 20px;
    @include border-radius(10px);
    @include box_shadow(3);
    .title {
      font-size: 1.2em;
      font-weight: bold;
    }
  }
  &.archived {
    >div {
      background: #ccc;
    }
  }
  &.new-board {
    > div {
      background-color: #005cbf;
      color: #fff;
    }
  }
  &:not(.new-board) {
    > div {
      height: 100px;
    }
  }
}

.navbar-text {
  &.nav-board-name {
    color: #fff;
    font-weight: bold;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.category {
  >div {
    padding:5px;
    margin-bottom: 5px;
    text-shadow: 0 0 5px white
  }
}
