<template>
    <div class="m-3">
        <div class="row form-group">
            <div class="col">Color</div>
            <div class="col"><input type="color" name="color" v-model="list.color" /></div>
        </div>
        <div class="row form-group">
            <div class="col">Archived</div>
            <div class="col"><input type="checkbox" name="archived" v-model="archived" /></div>
        </div>

        <a @click="save">save</a>
    </div>
</template>

<script>
    export default {
        props: ['list'],
        data() {
            return {
                archiving: false,
                archived: false
            }
        },
        methods: {
            save() {
                this.list.archived = this.archived ? 1 : null;
                return this.$store.dispatch('updateList', this.list).then(() => {
                        this.$snotify.success('Changes are saved');
                        this.$emit('closeListSettings');
                    }
                );
            },
        },
        mounted() {
            this.archived = this.list.archived;
        }
    }
</script>

<style>

</style>