<template>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-container" aria-controls="menu-container" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <router-link to="/" tag="a" class="navbar-brand" active-class="active">Taskyo</router-link>
            <div id="menu-container" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item active" v-if="$store.getters.activeBoard">
                        <span class="navbar-brand">{{$store.getters.activeBoard.name}}</span>
                    </li>
                    <router-link v-if="$store.getters.activeBoard" :to="{name: 'boardView', params: {boardId: $store.getters.activeBoard.id}}" tag="li" active-class="active">
                        <a class="nav-link">Lists of tasks</a>
                    </router-link>
                    <router-link v-if="$store.getters.activeBoard" :to="{name: 'boardStatistics', params: {boardId: $store.getters.activeBoard.id}}" tag="li" active-class="active">
                        <a class="nav-link">Statistics</a>
                    </router-link>
                    <router-link v-if="$store.getters.activeBoard" :to="{name: 'boardSettings', params: {boardId: $store.getters.activeBoard.id}}" tag="li" active-class="active">
                        <a class="nav-link">Settings</a>
                    </router-link>
                    <router-link v-if="!$store.getters.activeBoard" :to="{name: 'categories'}" tag="li" active-class="active">
                        <a class="nav-link">Categories</a>
                    </router-link>
                    <li v-if="timers.length" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Running Timers
                            <div class="badge badge-light">{{timers.length}}</div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a v-for="timer in timers" class="dropdown-item" href="#">
                                {{timer.taskName}}
                                <div class="badge badge-dark float-right">{{dateHelper.toHoursMinutesSeconds(timer.start)}}</div>
                            </a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" v-if="$route.name == 'boardView'">
                        <a class="nav-link" @click="$store.commit('setAction', actions.NEW_LIST)">Add List</a>
                    </li>
                    <router-link v-if="!$store.getters.isLoggedIn" :to="{name: 'login'}" tag="li" active-class="active">
                        <a class="nav-link">Login</a>
                    </router-link>
                    <router-link v-if="!$store.getters.isLoggedIn" :to="{name: 'register'}" tag="li" active-class="active">
                        <a class="nav-link">Register</a>
                    </router-link>
                    <li class="nav-item" v-if="$store.getters.isLoggedIn">
                        <a class="nav-link" @click="logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>

<script>
    import actions from '../../consts/actions';
    import dateHelper from '../../helpers/date'

    export default {
        name: "Navigation",
        computed: {
            actions() {
                return actions
            },
            dateHelper() {
                return dateHelper
            },
            timers() {
                return this.$store.getters.timers;
            }
        },
        methods: {
            logout() {
                localStorage.removeItem('token');
                this.$store.commit('logoutUser');
                this.$router.push({name: 'login'});
                this.$snotify.success('Logged out successfully.');
            }
        },
        updated() {
            this.timers.length ? this.$store.commit('setWorkingFavicon') : this.$store.commit('setIdleFavicon')
        }
    }
</script>

<style>

</style>