<template>
    <div>
        <h1>Categories</h1>
        <category v-for="category in $store.getters.categories" :category="category" :key="category.id"></category>
        <new-category></new-category>
    </div>
</template>

<script>
    import Category from './Category'
    import NewCategory from './NewCategory'

    export default {
        name: "categories",
        components: {Category, NewCategory},
        created() {
            this.$store.dispatch('fetchStartData');
        }
    }
</script>

<style>

</style>