<template>
    <div class="row">
        <new-board></new-board>
        <div
                v-if="!board.archived || showArchived"
                v-for="board in $store.getters.boards"
                class="board col-sm-3"
                :data-id="board.id"
                :key="board.id"
        >
            <router-link tag="div"
                         :to="{ name: 'boardView', params: { boardId: board.id }}"
                         :style="{backgroundColor: board.category ? board.category.color : ''}"
            >
                <span class="title">{{board.name}}</span>
            </router-link>
        </div>

        <div v-if="!showArchived && numberOfArchivedBoards" class="board archived col" @click="showArchived = true"><div><span class="title">Show archived</span></div></div>
    </div>
</template>

<script>
    import NewBoard from './NewBoard'

    export default {
        components: {NewBoard},
        data: function () {
            return {
                showArchived: false
            }
        },
        computed: {
            numberOfArchivedBoards() {
                return _.filter(this.$store.getters.boards, function (o) {
                    return o.archived;
                }).length
            }
        },
        methods: {
            deleteBoard(boardId) {
                this.$store.dispatch('deleteBoard', boardId)
            }
        },
        created() {
            this.$store.dispatch('fetchStartData');
            this.$store.commit('setActiveBoardId', null);
            this.$store.commit('setAction', null);
        }
    }
</script>

<style>

</style>